<div class="row text-center">
  <h1> Write Your Rep </h1>
</div>
<div class="row text-center">
  <form method="POST" action="/">
    <input name="zip" id="zipcode" type="text" placeholder="Zip Code">
    <br>
    <input type="submit">
  </form>
</div>